body {
}

#zaw{
    
    font-size: x-small;
    font-style:italic;
    font-weight:bold;
    text-align:center;
    margin-top: 250px;
    margin-left: 500px;
    margin-right: 500px;
    color: burlywood;
    font-family: Calibri;
}